autoflake==2.2.0
black==23.7.0
click==8.1.6
duckdb==0.8.1
isort==5.12.0
mypy==1.4.1
mypy-extensions==1.0.0
numpy==1.25.1
packaging==23.1
pandas==2.0.3
pandas-stubs==2.0.2.230605
pathspec==0.11.1
platformdirs==3.9.1
pyarrow==12.0.1
pyflakes==3.0.1
python-dateutil==2.8.2
pytz==2023.3
ruff==0.0.280
six==1.16.0
toml==0.10.2
toolz==0.12.0
types-pytz==2023.3.0.0
typing_extensions==4.7.1
tzdata==2023.3
vulture==2.7
